
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.f-section {
  font-family: Fraunces ;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #24053e;
  height: 45rem;
  border-bottom-right-radius: 45% 9%;
  border-bottom-left-radius: 45% 9%;
  position: relative;
  gap: 4rem;
}
header {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}
.btn{
  color: #FFFFFF;
  border-bottom: solid #44FFA1;
}
.btn:hover{
  color: #44FFA1;
}
#image1{
  position: absolute;
  left: 0rem;
}
.span {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.span h1{
  font-size:4rem;
  color:white;
   width:35rem;
   text-align: center;
   font-weight: 900;
   font-family: "Fraunces";
}
#tail{
  border-bottom: solid #44FFA1;
}
.lower-button {
  font-size: 2rem;
  border: none;
  background-color: #44FFA1;
  border: 2px solid #44FFA1;
  width: 30%;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  color: #24053e;
  gap: 4rem;
  margin-bottom:5px;
}
.lower-button:hover {
  background-color: inherit;
  color: #44FFA1;
  cursor: pointer;
}
#image2{
  position: absolute;
  right: 0rem;
  top:18rem;
}
#image1{
  top:10rem;
  left:-2%;
 }
 .s-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  max-width: 80rem;
  width:100%;
  margin: 0 auto;
  padding:1rem;
} 
.component {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  align-items: center;
  justify-content: center;
  gap:1rem;
  padding: 20px;
}
.num {
  display: grid;
  place-self: center;
  border-radius: 50%;
  border: 1px solid gray;
  width: 4rem;
  height: 4rem;
  display: grid;
  place-items: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #333;
 }
 .component h2{
  justify-content: center;
  align-items: center;
  font-weight:2rem;
  font-size:2rem; 
  font-weight: bold;
  color:black; 
  margin-bottom: 20px; 
} 
.component p {
  justify-content: space-between;
  align-items: center;
  font-size:1.1rem;
  line-height:30px;
  color: #555;
  padding: auto;
}
.T-section {
  margin-bottom:50px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.hp {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #24053e;
  width: 730px;
  height:474.74px;
  right:9%;
  top: 6.5rem; 
  padding: 4rem;
}
.hp h1 {
  color: white;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top:10px;
  margin-bottom:30px;
}
.hp p {
  color: white;
  line-height:2rem;
  width:90%;
  font-size:16px;
  margin-bottom:20px;
}
.hp button {
  border: none;
  background-color: #44FFA1;
  border: 1px solid #44FFA1;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  width: 10rem;
  margin: 20px;
}
.hp button:hover {
  background-color: #24053e;
  color: #44FFA1;
  cursor: pointer;
}
.hp-image {
  position: absolute;
  left:24rem;
  top:20rem;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: #333;
  padding: 50px 0;
}
.footer-workit {
  margin-bottom: 15px;
  max-width: 160px;
}
.social-media {
  color: #333;
  font-size: 24px;
  margin: 0 10px;
}
.social-media i:hover {
  color: #28a745;
}
.social-media i {
  font-size: 1.5rem;
  margin: 0 10px;
}
@media screen and (max-width: 1024px) and (min-width:768px){
  
body {
  overflow-x: hidden;
}
.span h1{
  font-size:4rem;
}
#image3{
 scale: 0.9;
}
.s-section {
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    padding:10px;
}
#image1{
  position:absolute;
  left:-9%;
}
#image2{
  position: absolute;
  left:93%;
}
.component {
    margin-bottom: 10px;
    gap:1rem;
}
.num{ 
  position: absolute;
  font-size:2rem;
  left:8rem;
  margin-bottom: 10px;
}
.component h2{
  font-size:40px;
}
 .component p {
  font-size:16.3px;
  width: 32rem;
 margin-left:10rem;
 gap:5rem;
 font-weight:850;
}
.T-section {
  width: 100%;
  height:500px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    margin-top:100px;
}
.hp{
  position: relative;
  top:-20px;
   width:514px;
  height:375px; 
  left:145px;
  margin-right: 50px;
  padding: 30px; 
} 
.hp h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: left;
}
.hp p {
  font-size:15px; 
  text-align: left;
  font-weight:bolder;
  line-height:30px;
}
  .image-remove{
    position: relative;
    bottom:-40px;
    width:265px;
    height: 275px;
 margin-left:-30rem;
    scale: 0.6; 
  }
  .hp button{
    font-size:15px;
    font-weight:1000;
    align-items:left;
    font-family: fraunces;
  }
.hp-image{
  position: absolute;
  left:17rem;
   top:17rem;
}
.footer {
  flex-direction: column;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}
.footer-workit {
  margin-bottom: 10px;
}
.social-media i {
  font-size: 1.5rem;
  margin:10px 10px;
}
}

@media screen and (max-width:765px) and (min-width:320px){
   body{
    overflow-x: hidden;
  }
  .f-section{
    padding:auto 0;
    height:30rem;
  }
  .f-section header{
    display:column;
    text-align:space-between;
    margin-bottom:10px;
  }
  #image1{
    display: none;
  }
  #image2{
    display:none;
  }
  .span h1{
    font-size:2rem;
    font-weight:990;
    width:15rem;
  }
  .lower-button{
    font-size:1rem;
    width:8rem;
  }
  #image3{
    width:100%;
  }
  .s-section{
    display:flex;
  flex-direction: column;
  }
  .component{
    display:flex;
    flex-direction: column;
   padding: auto;
  }
  .component h2{
    font-size:1.5rem;
    text-align: center;
  }
  .component p{
    font-size:15px;
    font-weight:bolder;
    text-align: center;
  }
  .T-section {
    width: 100%;
    flex-direction: column;
    text-align: center;
}
.image-remove{
  scale:0.5;
  margin-top:20px;
}
 .hp{
  align-items: center;
  margin-right:130px;
  justify-content: center;
 margin-top:-270px;
 width:100%; 
 right:-60px;
}
.hp h1{
  font-size:20px;
  margin-bottom:15px;
}
.hp p{
 font-size:14px;
}
.hp button{
  font-size:16px;
  font-weight:790;
}
.hp-image{
  display: none;
}
.footer{
  flex-direction: column;
  text-align: center;
  padding: 15px;
}
.social-media i {
  font-size: 1.5rem;
  margin: 0 10px;
}
} 















 
